//- footer
//- 	.authors
//- 		.designer
//- 			p.author-work Drawing logo and images:
//- 			p.author-name.author-name__designer Victoriya Tarasevich
//- 		.author
//- 			p.author-work Author of the project and UI designer:
//- 			p.author-name Oleg Medvedev
//- 	.contacts
//- 		h3.contacts__header My contacts:
//- 		.footer-social
//- 			.social-platforms
//- 				h4.social-platforms__header Social platforms:
//- 				a.social-btn.linkedin(href="#") Oleg Medvedev
//- 				a.social-btn.slack(href="#") oleg_templ
//- 				a.social-btn.mail(href="mailto:#") @bear-software.by
//- 			.oficial-site
//- 				p.oficial-site__text
//- 					| Oficial site:
//- 					a.oficial-site__link(href="#") bear-software.by
//- 				a
//- 					img.logo-bear(src="images/other/bear-logo.png" alt="Bear-software Logo")
