// brand colors
$bgbody-color: #FFFFFF;

// brand method colors
$method-red: #EC0D0D;
$method-green: #37CB04;
$method-yellow: #DADF08;
$method-blue: #077FD7;
$method-magenta: #8B06BA;
$method-cyan: #04C0CC;
$method-white: #C4C4C4;


// checkboxes methods colors
$color-checkbox-method-red: $method-red;
$color-checkbox-method-green: $method-green;
$color-checkbox-method-yellow: $method-yellow;
$color-checkbox-method-blue: $method-blue;
$color-checkbox-method-magenta: $method-magenta;
$color-checkbox-method-cyan: $method-cyan;
$color-checkbox-method-white: $method-white;


// Documentation
$color-text-install-command: #FFFFFF;
$bgcolor-install-command: rgba(97, 95, 95, 0.87);
//examples
$color-example-section-border: #615F5F;
$bgcolor-example-section:white ;
$bgcolor-example-command: #615F5F;
$color-example-command-text: #FFFFFF;

// promo
$bgcolor-promofield:#615F5F ;
$bdrcolor-promofield: #E5E5E5;
$color-promofield-command: #FFFFFF ;
$color-promofield--example-text : #FFFFFF;
