doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet', type='text/css', href='styles/index.css')
		title Color-log()
	body
		header
			include header/header.pug
		main
			//- include main/block_promo.pug
			include main/method_red.pug
			include main/method_gre.pug
			include main/method_yel.pug
			include main/method_blu.pug
			include main/method_mag.pug
			include main/method_cya.pug
			include main/method_whi.pug
			include main/method_log.pug
		//- footer
		footer
			include footer/footer.pug
