doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel='stylesheet', type='text/css', href='styles/index.css')
		title Color-log()
	body
		header
			include header/header.pug
		main
			include main/block_promo.pug
			include main/block_1.pug
			include main/block_2.pug
			include main/block_3.pug
			include main/block_4.pug
			include main/block_5.pug
			include main/block_6.pug
			include main/block_7.pug
			include main/block_8.pug
		//- footer
		footer
			include footer/footer.pug
